body {
    background: #355664;
    display: flex; 
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    width: 150px;
    height: 150px;
    background:#213e4a;
    border: solid 1px #355664;
    color: #ffffff;
    font-size: 100px;
    text-align: center; 
}

button {
    position: absolute;
    bottom: 35%;
    left: 10%;
    background: #213e4a;
    width: 150px;
    height: 150px;
    color: #ffffff
}

#one {
    position: absolute;
    bottom: 50%;
    left: 40%;
    background: #213e4a;
    color: #ffffff;
    margin: 0;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 10px
}


#two {
    position: absolute;
    bottom: 45%;
    left: 40%;
    background: #213e4a;
    color: #ffffff;
    margin: 0;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 10px
}

div {
    margin-right: 15px;
    margin-top: 20px;
}
