body{
    background: #355664;
    display: flex; 
    justify-content: center;
}

input[type='button'] {
    background: #355664;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bolder;
    width: 10em
}

div {
    position: absolute;
    bottom: 50%;
    background: #213e4a;
    font-size: 1.5em;
    font-weight: bolder;
}